<!DOCTYPE html>
<html>
    <head>
        
        <title> Condo Profile | Taft Tower Talk</title>
        <link rel="icon" type="image/x-icon" href="images/logo.png">
        <link rel="stylesheet" type="text/css" media="all" href="css/base-css.css">
        <link rel="stylesheet" type="text/css" href="css/condoprofile-css.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
        
    </head>
    
    <body>
        <!-- NAVIGATION BAR -->
        <%- include('./partials/navbar.ejs') %>
        <!-- NAVIGATION BAR -->

        <!-- CONDO HEADER-->
        <div class = "condo-profile">
            <!-- add photo here --> 
            <img class="condo-image" src="images/logo.png" alt="condo photo" />
            <div class = "condo-contents">  
                <div class = "condo-header">
                    <div class = "condo-name-rating">
                        <h1 class = "condo-name"><%= condo.cName %></h1>
                        <p class = "condo-rating"><%= condo.rating %> (<%= condo.nReviews %>)</p>
                    </div>
                    <div class = "condo-budget">
                        <h1>Budget: <%= condo.lRange %> - <%= condo.hRange %></h1>
                    </div>
                </div>  

                <div class = "condo-description">
                    <p> <%= condo.description %>
                    </p>
                </div>
            </div>
        </div>

        <!-- CONDO HEADER-->

               
        <!-- REVIEW BOX-->
        <div class = "review-header">
            <hr>
            <h1>REVIEWS</h1>
            <hr>
        </div>
        <!-- REVIEW BOX-->
     

        <script src="js/condoprofile-js.js"></script>
    </body>
</html>