<!DOCTYPE html>
<html>
    <head>
        <title>Condo List | Taft Tower Talk</title>
        <link rel="icon" type="image/x-icon" href="images/logo.png">
        <link rel="stylesheet" type="text/css" media="all" href="css/base-css.css">
        <link rel="stylesheet" type="text/css" href="css/condolist.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
        
    </head>
    <body>
          <!-- NAVIGATION BAR -->
          <%- include('./partials/navbar.ejs') %>
          <!-- NAVIGATION BAR -->
        <!-- CONDO LIST-->
        <div class="condolist-main-body">
            <div class="lower-part">
                <h1>List of Condominiums</h1>
                <div id="sort-by">
                    SORT BY...
                    <div class="dropdown-content" id="sort-condo">
                        <div id="Sort-by-rating">Sort by Ratings</div>
                        <div id="Sort-by-budget">Sort by Budget</div>
                    </div>
                </div>
                <div class="condo-list" id="condo-sorting">
                    

                    <% condos.forEach(condo => { %>
                        <div class="recommended-condo" id="<%= condo.rating %>">
                            <div class="picture">
                                <a href="/condoprofile?name=<%= encodeURIComponent(condo.cName) %>"><img src="<%=condo.photo%>" alt="condo photo" /></a>
                            </div>
                            <div class="description">
                                <span style="font-weight: bold;"> Name:</span> <%= condo.cName %><br>
                                <span style="font-weight: bold;"> Rating:</span> <%= condo.rating %><br>
                                <span class="budget" id="<%= condo.lRange %>" style="font-weight: bold;"> Budget:</span> <%= condo.lRange %> to <span class="<%= condo.hRange %>"><%= condo.hRange %></span><br>
                            </div>
                        </div>
                        
                        
                        <%}) 
                        
                    %>


                </div>

            </div>
        </div>
        <!-- CONDO LIST-->
        <script src="js/condolist.js"></script>
    </body>
</html>