<!DOCTYPE html>
<html>
    <head>
        
        <title> <%= condo.cName %> | Taft Tower Talk</title>
        <link rel="icon" type="image/x-icon" href="images/logo.png">
        <link rel="stylesheet" type="text/css" media="all" href="css/base-css.css">
        <link rel="stylesheet" type="text/css" href="css/condoprofile-css.css">
        <link rel="stylesheet" type="text/css" href="css/review-comment.css"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
        <script src="js/condoprofile-js.js"></script>
        <script src="js/review-comment.js"></script>
    </head>
    
    <body>
        <!-- NAVIGATION BAR -->
        <%- include('./partials/navbar.ejs') %>
        <!-- NAVIGATION BAR -->

        <!-- CONDO HEADER-->
        <div class = "condo-profile">
            <!-- add photo here --> 
            <img class="condo-image" src="<%= condo.photo %>" alt="condo photo" />
            <div class = "condo-contents">  
                <div class = "condo-header">
                    <div class = "condo-name-rating">
                        <h1 class = "condo-name"><%= condo.cName %></h1>
                        <p class = "condo-rating"><%= condo.rating %> (<%= condo.nReviews %>)</p>
                    </div>
                    <div class = "condo-budget">
                        <h1>Budget: <%= condo.lRange %> - <%= condo.hRange %></h1>
                    </div>
                </div>  

                <div class = "condo-description">
                    <p> <%= condo.description %>
                    </p>
                </div>
            </div>
        </div>

        <!-- CONDO HEADER-->

               
        <!-- REVIEW BOX-->
        <div class = "review-header">
            <hr>
            <h1>REVIEWS</h1>
            <hr>
        </div>
        <!-- REVIEW BOX-->

        <!-- REVIEWS-->
       
        <div class="post-review">
            <form id="review-form" action="/submitCondoReview" method="post" enctype="multipart/form-data">
                <span class="review-title-rating">
                    <input type="hidden" name="reviewCondo" value="<%= condo.cName %>">
                    <input type="hidden" name="reviewUsername" value="<%= user.username %>">
                    <input type="text" id="review-title" name="reviewTitle" placeholder="Review Title" required>
                    <select id="review-rating" name="reviewRating" required>
                        <option value="" disabled selected hidden>Rating</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </span>
                <br>
                <textarea id="review-content" name="reviewText" rows="6" placeholder="Reply here..." required></textarea>
                <br>
                <span class="review-buttons">
                    <input type="file" id="review-image" name="review-photos" accept="image/png, image/gif, image/jpeg">
                    <br>
                    <button type="submit" id="review-submit">Post review</button>
                </span>
            </form>
        </div>  
        
        <hr>

         <!-- SORTING-->
         <div class = "review-sort">
            <select id="review-sort-dropdown">
                <option value = "" disables selected hidden>Sort by</option>
                <option value = "1">Date</option>
                <option value = "2">Likes</option>
            </select> 
        </div>
        <!-- SORTING-->

        <!-- REVIEWS-->
        <div id="review-container-user">
                <%- include('./partials/review.ejs') %>
        </div>
    </body>
</html>