<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile | Taft Tower Talk</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" type="text/css" media="all" href="/css/base-css.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/account.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
</head>
<body>
    <!-- NAVBAR -->
    <div id="navbar-visitor">
        <a href="/homepage"><img src="/images/logo.png" alt="logo" width="100px"/></a>
        <div id="searchbar">
            <form action="/searchResult" method="get">
                <input type="text" name = "keyword" placeholder="Search...">
            </form>
        </div>
        <div id="navbar-links">
            <a href="/aboutpage">About</a>
            <a href="/condolist">Condo List</a>
    
            <% if (!loggedIn) { %>
                <a href="/login">Login/Register</a>
             <% } else { %>
                <div class="dropdown">
                    <a href="#" name = "username">Welcome Back, <%= user.fName %></a>
                    <div class="dropdown-content">
                        <a href="/userprofile/<%= user.username %>">Profile</a>
                        <% if (user.admin) { %>
                            <a href="/renderCondoPanel">Condo Panel</a>
                        <% } %>
                        <a href="/editprofile/<%= user.username %>">Account Settings</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
             <% } %>
        </div>
    </div>
    <!-- NAVBAR -->

    <div class="container">
        <aside class="profilenav">
            <div class="sidenav">
                <a href="#personal-info">Personal Information</a>
                <a href="#account-details">Account Details</a>
                <a href="#additional-info">Additional Information</a>
            </div>
        </aside>
        <section class="profile-details">
            <div class="form">
                <header id="edit-profile-header"><h2>Edit Profile</h2></header>
                <form action="/editPersonalInfo/<%= user._id %>" method="post">
                    <section id="personal-info">
                        <label for="first-name">First Name</label>
                        <input id="first-name" name="fName" type="text" placeholder="<%=user.fName%>" required>
                        <label for="last-name">Last Name</label>
                        <input id="last-name" name="lName" type="text" placeholder="<%=user.lName%>" required>
                        <input type="submit" class="button" value="Save">
                    </section>
                </form>
                <form action="/editAccountDetails/<%= user._id %>" method="post">
                    <section id="account-details">
                        <label for="email">Email</label>
                        <input id="email" name = "email" type="email" placeholder="<%=user.email%>" readonly>
                        <label for="old-username">Current Username</label>
                        <input id="old-username" type="text" placeholder="<%=user.username%>" readonly>
                        <label for="username">New Username</label>
                        <input id="username" name= "username" type="text" placeholder="Enter your username here..." required>
                        <input type="submit" class="button" value="Save">
                    </section>
                </form>
                <form class="/editAdditionalInfo/<%= user._id %>" method="post">
                    <section id="additional-info">
                        <label for="condo">Condominium/Place</label>
                        <div class="custom-select">
                            <select required>
                                <option value="condo-placeholder" name ="uCondo" id="placeholder">Select Place:</option>
                                <option value="condo1">Manila Residences</option>
                                <option value="condo2">Studio Zen</option>
                                <option value="condo3">WH Taft Residences</option>
                                <option value="condo4">One Archer's Place</option>
                                <option value="condo-default">None</option>
                            </select>
                        </div>
                        <label for="bio">User Bio (400 character limit)</label>
                        <textarea id="bio" name= "bio" placeholder="Write a short bio..." maxlength="400" style="resize: none;"></textarea>
                        <input type="submit" class="button" value="Save">
                    </section>
                </form>
                    
                
            </div>
        </section>
    </div>

<script src="/js/account.js"></script>

</body>
</html>