<!DOCTYPE html>
<html>
    <head>
        <title> Taft Tower Talk </title>
        <link rel="icon" type="image/x-icon" href="images/logo.png">
        <link rel="stylesheet" type="text/css" media="all" href="css/base-css.css">
        <link rel="stylesheet" type="text/css" href="css/homepage-css.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <!-- NAVIGATION BAR -->
        <%- include('./partials/navbar.ejs') %>
        <!-- NAVIGATION BAR -->

        <!-- HEADER -->
        <div id="homepage-header">
            <img src="images/header.jpg" alt="header"/>
        </div>
        <!-- HEADER -->

        <!-- MOST REVIEWED CONDOS -->
        <div id="most-reviewed">
            <h1> Most Reviewed Condominiums </h1>
            
            <div id="most-reviewed-container">

                <% condos.forEach(condo => { %>
                <div class="most-reviewed-item">
                    <img src="images/logo.png" alt="condo photo" />
                    <div class="details-container">
                        <a href="#">
                        <h2> <%= condo.cName %> </h2>
                        </a>
                        <span class="ratings"> <%= condo.rating %> <span class="no-ratings"> (<%= condo.nReviews %>) </span></span>
                        <p class="condo-description">
                            <%= condo.description %>
                        </p>
                    </div>
                </div>
                <% }) %>

            </div>

        </div>
        <!-- MOST REVIEWED CONDOS -->
        <script src="javascript/homepage.js"></script>
    </body>
</html>