<!DOCTYPE html>
<html>
    <head>
        <title><%= userProfile.username %> | Taft Tower Talk </title>
        <link rel="icon" type="image/x-icon" href="/images/logo.png">
        <link rel="stylesheet" type="text/css" media="all" href="/css/base-css.css">
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
        <link rel="stylesheet" type="text/css" href="/css/review-comment.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
        <script src="/js/review-comment.js"></script>
    </head>
<body>
    <div id="navbar-visitor">
        <a href="/homepage"><img src="/images/logo.png" alt="logo" width="100px"/></a>
        <div id="searchbar">
            <form action="/searchResult" method="get">
                <input type="text" name = "keyword" placeholder="Search...">
            </form>
        </div>
        <div id="navbar-links">
            <a href="/aboutpage">About</a>
            <a href="/condolist">Condo List</a>
    
            <% if (!loggedIn) { %>
                <a href="/login">Login/Register</a>
             <% } else { %>
                <div class="dropdown">
                    <a href="#" name = "username">Welcome Back, <%= user.fName %></a>
                    <div class="dropdown-content">
                        <a href="/userprofile/<%= user.username %>">Profile</a>
                        <% if (user.admin) { %>
                            <a href="/renderCondoPanel">Condo Panel</a>
                        <% } %>
                        <a href="/editprofile/<%= user.username %>">Account Settings</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
             <% } %>
        </div>
    </div>
    

    <div class="banner">
        <img src = "/images/header.jpg">
    </div>

    <div class="profile-wrapper">
        <div class="container">
            <aside class="profile">
                
                <div class="profile-pic">
                    <% if (userProfile.username === user.username) { %>
                    <label class="img-label" for="image">
                        <span class="change-image">Change Image</span>
                    </label>
                    <form id="editPfpForm" action="/editPfp/<%= userProfile.username %>" method="POST" enctype="multipart/form-data">
                        <input id="image" type="file" name="image" accept="image/*">
                    </form>
                    <% } %>
                    <img src="<%= userProfile.pfp %>" id="main-pfp" alt="pfp">
                </div>
                

                <h1><%= userProfile.fName %> <%= userProfile.lName %></h1>
                <span>@<%= userProfile.username %></span>
                <p><strong><i>Place</i></strong> <a href = "/condoprofile?name=<%= encodeURIComponent(userProfile.uCondo) %>"><%= userProfile.uCondo %></a></p>
                <p><%= userProfile.bio %></p>
            </aside>

            <section class="timeline">
                <nav>
                    <a href="/userprofile/<%= userProfile.username %>/loadReviews" onclick="openTab('reviews', this)" class="tab-button active" data-tab="reviews">Reviews</a>
                    <a href="/userprofile/<%= userProfile.username %>/loadComments" onclick="openTab('comments', this)" class="tab-button" data-tab="comments">Comments</a>
                </nav>

                <div class="tab-content" id="reviews" style="display: block;">

                    <!-- <div class = "review-container"> -->
                        <%- include('./partials/userreview.ejs') %>
                    <!-- </div> -->
                </div>

                <div class="tab-content" id="comments">
                    <!-- <div class = "comment-container"> -->
                        <%- include('./partials/userreview.ejs') %>
                    <!-- </div> -->
                </div>
            </section>
        
        </div>
    </div>

    <script src = "/js/profile.js"></script>
    <script>
        const fileInput = document.getElementById('image');
        
        const form = document.getElementById('editPfpForm');
        
        fileInput.addEventListener('change', function() {
            if (fileInput.files.length > 0) {
                form.submit();
            }
        });
    </script>
</body>
</html>